In [24]:
# Connect to libraries and set variables
import pandas as pd
import numpy as np

yes_col = []
no_col = []
perc_row = []

url = 'Resources/vine_table.csv'

In [40]:
# Read in the vine_table.csv file as a DataFrame

vine_df = pd.read_csv(url, index_col=False, header=None)
vine_df.rename({0: "review_id", 1:"star_rating", 2:"helpful_votes", 
                3:"total_votes", 4:"vine", 5:"verified_purchase"}, axis=1, inplace=True)
# vine_votes = (vine_df["total_votes"] == 'Y').count()
# non_vine_votes = (vine_df["total_votes"] == 'N').count()
vine_df.set_index("review_id")

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R3EQSTM9PWRAL           3.0            0.0          0.0    N                 Y
RBWPRK17XKIXD           5.0            0.0          0.0    N                 Y
RRSLOAF273XFC           5.0            1.0          2.0    N                 Y
R3S8W9Q6SWIT8O          4.0            0.0          0.0    N                 Y
R3QQ6NSLRVBFJC          4.0            0.0          0.0    N                 Y
...                     ...            ...          ...  ...               ...
R10ITC6DGYFD3J          1.0           11.0         46.0    N                 N
R16BFEO1ITQUP9          4.0            3.0          4.0    N                 N
RJGC0F0GOD6QN           5.0            8.0         13.0    N                 N
R2RTO9RPW3E7GE          5.0            1.0          8.0    N                 N
R1F2ST77BCB5DZ          5.0            0.0          2.0    N                 N

[5331449 rows x 5 columns]

In [41]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where 
# the total_votes count is equal to or greater than 20 to pick reviews that are more 
# likely to be helpful and to avoid having division by zero errors later on.

review_df = vine_df[vine_df["total_votes"]>20]
review_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y
...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N

In [44]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame 
# or table to retrieve all the rows where the number of helpful_votes divided by 
# total_votes is equal to or greater than 50%.

ratio_df = review_df
ratio_df["helpful_ratio"] = review_df["helpful_votes"]/review_df["total_votes"]
ratio_df = ratio_df.loc(["helpful_ratio"] >= .5)
ratio_df

<ipython-input-44-480c78125643>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df["helpful_ratio"] = review_df["helpful_votes"]/review_df["total_votes"]

TypeError: '>=' not supported between instances of 'list' and 'float'

In [34]:
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or 
# table that retrieves all the rows where a review was written as part of the 
# Vine program

yes_df = ratio_df[ratio_df['vine'] == 'Y']
yes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_ratio
38366,RG70K1HMY4LXX,4.0,37.0,44.0,Y,N,0.840909
145857,R1DHGTNXDXJ0GB,5.0,78.0,93.0,Y,N,0.838710
150655,R3B5S3OSA8N6AO,5.0,38.0,43.0,Y,N,0.883721
173012,R29X0YBS0SBIUP,5.0,56.0,74.0,Y,N,0.756757
223093,R1ZEDMCU6NYC8Q,3.0,26.0,27.0,Y,N,0.962963
...,...,...,...,...,...,...,...
5277568,R36RASFZVN2Q8N,3.0,23.0,24.0,Y,N,0.958333
5278013,R3GSPG69UD13JN,3.0,116.0,121.0,Y,N,0.958678
5278147,R19KPT1VUJH0ZH,5.0,28.0,29.0,Y,N,0.965517
5278790,R1LTHP49NUQMFH,4.0,33.0,33.0,Y,N,1.000000
5278803,R19I5HOSQ73JPY,4.0,354.0,358.0,Y,N,0.988827

In [35]:
# Repeat, but this time retrieve all the rows where the review was not part 
# of the Vine program (unpaid)

no_df = ratio_df[ratio_df['vine'] == 'N']
no_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_ratio
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y,0.804348
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y,0.964646
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y,0.980000
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y,0.964286
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y,1.000000
...,...,...,...,...,...,...,...
5331433,R2UCPMM1MHGCD7,4.0,22.0,24.0,N,Y,0.916667
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y,0.942857
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N,1.000000
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N,0.928571
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N,1.000000

In [ ]:
# Determine the total number of reviews, the number of 5-star reviews, and the
# percentage of 5-star reviews for the two types of review (paid vs unpaid).

# Number of reviews and 5* reviews for Y and N